* {
    margin: 0;
    padding: auto;

}

body {
    background: linear-gradient(#4d4d4e, #5c677c, #5d5f63e7);
}

.container {
    width: 100vw;
    height: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #535455;
}

.brand {
    width: 40%;
    color: #080808;

}

.menu-content {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 10px 0;
    text-align: center;
}
.menu a {
    color: #262424;
    text-decoration: none;
    display: flex;
    justify-content: space-around;

}

/* .menu {
    display: flex;
    width: 48%;
} */

/* .menu li {
    width: 49%;
    list-style: none;
    display: flex;
    justify-items: start;
} */

.logo {
    width: 100%;
    margin: 1.1rem;
    font-size: 2rem;
    box-shadow: 1rem 1rem 1rem #a1cbf6;
    border-radius: 10rem;
    text-align: center;
}



/* .menu>li {
    list-style: none;

} */

.menu>li>a {
    text-decoration: none;
    color: #e9edf4;
    width: 5rem;
    border-radius: 30px;
    border: 2px solid #2a2929;
    padding: -0.5rem;
    margin: 0.5rem;
}

.menu a:hover {
    background-color: #8a8787;
    color: #4d4d4e;
    transition: ease-in.4s;

}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.name {

    color: black;
    box-shadow: 1rem 1rem 1rem #a1cbf6;
    border-radius: 2rem;
}

.download-cv {
    display: flex;
    padding: 1rem 1rem;
    background: #4b4a4b;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem #9ba9b8;
    font-size: 1rem;
    color: #faf5f5;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 1rem;
    list-style: none;
}

.download-cv:hover {
    background-color: #9ba9b8;
    box-shadow: none;
}

.main img {

    position: relative;
    top: 0rem;
    left: 3rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: -1rem;
    border: 2px solid #fff;
    display: block;
    float: right;
    margin-top: 1rem;
}

.container-social-navbar {
    width: 5rem;
    height: -4rem;
    margin: 10%;
    padding: 0%;
}

.container-social-navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-navbar {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-navbar li {
    margin-right: 4rem;
}

.social-navbar a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-navbar a img:hover {
    transform: scale(1.2);
}

.container-img {

    height: 20rem;
}

.profile {

    position: relative;
    top: 0rem;
    left: 10rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 3rem;
    border: 2px solid #fff;
    display: block;
    float: right;
}

.main-home {
    width: 100%;
    height: 50rem;
    background-color: #747373;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#4d4d4e, #5c677c, #5d5f63e7);
}

.service {
    text-align: center;
}

.service h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 1rem;
}

.service>h2>title {
    font-size: 10rem;
    margin-bottom: 20px;
    padding: 1rem;
}

.container-card {
    border: 2px solid #070707fe;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
    display: inline-block;
    border-radius: 25px;
}

.container-card img {
    width: 25%;
    height: auto;
    margin-bottom: 10px;
}

.container-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container-card p {
    margin-bottom: 20px;
}

.container-card a {
    display: inline-block;
    background-color: #77787a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #070707fe;
}

.container-card a:hover {
    background-color: #0056b3;
}

.Latest_project {
    text-align: center;
}

.Latest_project h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: double 3px;
    background-color: #656668;
    border: 2px solid #070707fe;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
    display: inline-block;
    border-radius: 25px;
}

.card>img {
    width: 50%;
    height: 50%;
    border-radius: 10px 10px;
    object-fit: cover;
}

.card>h2,
.card>p {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    color: white;
    overflow: hidden;
}

.card>a {
    width: 80%;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #0056b3;
    text-align: center;
    border-radius: 10px;
    margin: 1rem;
    border: 2px solid #070707fe;
}

.divider {
    height: 4px;
    width: 20rem;
    background-color: #0056b3;
    margin-top: 5px;
    margin-bottom: 3rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
}

.img_about {
    width: 35rem;
    height: 35rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 3em;
    color: #121111;
}

.about p {
    margin-bottom: 2em;
}

.services h2 {
    margin-bottom: 2rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 3rem;
    background-color: #454646;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #404041;
    transition: .5s ease;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #121111;
    text-align: center;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 0.6rem;
    font-size: 0.6rem;
    color: #494948;
    background-color: #353333;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 15rem;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 3rem;
    cursor: pointer;
}


.btn {
    display: flex;
    padding: 1rem 1rem;
    background: #4b4a4b;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem #9ba9b8;
    font-size: 1rem;
    color: #faf5f5;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 1rem;
    list-style: none;
}

.btn:hover {
    background-color: #9ba9b8;
    box-shadow: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: black;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


@media screen and (min-width: 769px) and (max-width: 920px) {
    body {
        font-size: 14px;
    }

    .navbar {
        padding: 1rem;

    }

    .menu-content {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: block;
    }



    .logo {
        font-size: 1.2rem;
    }

    .main img {
        width: 200px;
        height: 200px;
    }

    .container-img {
        height: 15rem;
        /* Cambiado de 20rem a 15rem */
    }

    .profile {
        width: 100px;
        /* Cambiado de 200px a 150px */
        height: 100px;
        /* Cambiado de 200px a 150px */
    }

    .container-card {
        max-width: 150px;
        /* Cambiado de 250px a 200px */
    }

    .card {
        width: 10rem;
        /* Cambiado de 20rem a 15rem */
        height: 10rem;
        /* Cambiado de 20rem a 15rem */
    }

    .divider {
        width: 15rem;
        /* Cambiado de 20rem a 15rem */
    }

    .about-info h2 {
        font-size: 2.5em;
        /* Cambiado de 3em a 2em */
    }

    .img_about {
        width: 20rem;
        height: 20rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 2rem;
    }

    .service {

        width: auto;


    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .navbar {
        padding: 1rem;
    }

    .menu-content {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
    }

    .logo {
        font-size: 1rem;
    }

    .main img {
        width: 200px;
        height: 200px;
    }

    .container-img {
        height: 15rem;
        /* Cambiado de 20rem a 15rem */
    }

    .profile {
        width: 100px;
        /* Cambiado de 200px a 150px */
        height: 100px;
        /* Cambiado de 200px a 150px */
    }

    .container-card {
        max-width: 150px;
        /* Cambiado de 250px a 200px */
    }

    .card {
        width: 5%;
        /* Cambiado de 20rem a 15rem */
        height: 5%
        /* Cambiado de 20rem a 15rem */
    }

    .divider {
        width: 15rem;
        /* Cambiado de 20rem a 15rem */
    }

    .about-info h2 {
        font-size: 2em;
        /* Cambiado de 3em a 2em */
    }

    .img_about {
        width: 20rem;
        height: 20rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 2rem;
    }

    .service {

        width: auto;


    }
    .contact form .input-box input {
        width: 100%;
    }







    
}